<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">Browse Forums</div>
        <div class="sectionDescription">
            <p>Welcome to <strong>Forum</strong>. Posts are broadly categorized into separate forums by programming language or area of interest.</p>
            <p>
                Please read the Forum Guidelines before creating a new post.
            </p>
        </div>
    </div>
    <div class="row" id="forumIndexContent">
        <table class="table table-hover" id="forumIndexTable">
        </table>
    </div>
</div>
@code {

}
